lib/pvs.rnc

# RELAX NG compact version of the PVS abstract syntax.
# Check it using
# java -jar ~/src/jing-20030619/bin/jing.jar -c ~/pvs4.1/lib/pvs.rnc foo.xml

# This essentially reflects the classes that define the abstract syntax of
# PVS in Common Lisp.  The CLOS classes are more expressive, so this is not
# a trivial mapping.  Relax NG does not actually have a notion of classes.

# The grammar generally is broken into the following sections:
#   Modules
#   Declarations
#   Type Expressions
#   Expressions
#   Names
#   Proofs

# Many of the classes and attributes of PVSAS exist solely to be able to
# maintain the form of expressions given by the user.  For example, the "="
# in the expression "x = 1" would internally be treated as
# "equalities[numbers.number].=".  This is handled by having a name with
# elements for id, theory-id, actuals, and mappings, as well as a resolution
# that gives the complete form.  Thus the prettyprinter uses the name parts,
# while, e.g., equality testing is done with the resolutions.

# Another use of slots in the PVS classes is to cache values that are costly
# to compute.  For the most part, these are not represented in the RNC

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace xlink = "http://www.w3.org/1999/xlink"

start = [ xlink:type = "simple" ]
  file-content | theory-content | recursive-type-content

### Modules

file-content =
  element pvs-file {top-level-content+}

top-level-content = theory-content | recursive-type-content

theory-content =
  element theory
    {commonattrs,
     id,
     formals-content?,
     assuming-part?,
     theory-part?,
     exporting-content?}

# Recursive types can occur at the top level, or as a declaration.  The
# latter are inline-datatypes, and are the same except that formals are not
# allowed.

recursive-type-content =
  element datatype
    {commonattrs,
     id,
     formals-content?,
     importings,
     constructors}

constructors = constructor-content+

constructor-content =
  element constructor
    {commonattrs,
     ordnumattr,
     id,
     accessors-content?,
     recognizer-content,
     subtype-id-content?}

ordnumattr =
  attribute ordnum {xsd:integer}?

recognizer-content =
  element recognizer {identifier-token}

accessors-content =
  element accessors {accessor-content+}

subtype-id-content =
  element subtype-id {id}

accessor-content =
  element accessor
    {commonattrs,
     id,
     type-expr}

formals-content =
  element formals {formals}

formals = (importings | formal)*

formal = importing-content
       | type-decl-content
       | formal-subtype-decl-content
       | formal-const-decl-content
       | formal-theory-decl-content

formal-subtype-decl-content =
  element formal-subtype-decl {type-def-decl}

formal-const-decl-content =
  element formal-const-decl {id, typed-declaration}

formal-theory-decl-content =
  element formal-theory-decl {theory-name}

theory-name-content =
  element theory-name {theory-name}

theory-name = id,
              actuals-content?,
              library-id-content?,
              mappings-content?

actuals-content =
  element actuals {(expr | type-expr | theory-name)+}

actual-content =
  element actual {expr | type-expr | theory-name}

library-id-content =
  element library-id {id}

mappings-content =
  element mappings {mapping+}

mapping = mapping-def-content | mapping-subst-content | mapping-rename-content

mapping-def-content =
  element mapping-def {mapping-lhs-content, mapping-rhs-content}

mapping-subst-content =
  element mapping-subst {mapping-lhs-content, mapping-rhs-content}

mapping-rename-content =
  element mapping-rename {mapping-lhs-content, mapping-rhs-content}

mapping-lhs-content =
  element mapping-lhs {name}

mapping-rhs-content =
  element mapping-rhs {expr-content | type-content | theory-name-content}

importings = importing-content*

importing-content =
  element importing
    {commonattrs,
     chainattr,
     theory-name}

exporting-content =
  element exporting
    {commonattrs,
     exporting-names?,
     exporting-but-names?,
     exporting-kind,
     exporting-theory-names?}

exporting-names =
  element exporting-names {names}

exporting-but-names =
  element exporting-but-names {names}

exporting-kind =
  element exporting-kind {"nil" | "all" | "closure" | "default"}

exporting-theory-names =
  element exporting-theory-names {theory-names}

theory-names = theory-name-content+

assuming-part =
  element assuming {assuming-decl+}

assuming-decl = theory-decl | assumption-content

assumption-content =
  element assumption {formula-decl-attr, id, declaration, expr}

theory-part = theory-decl+

### Declarations

theory-decl =
    importing-content
  | judgement-decl
  | conversion-content
  | auto-rewrite-content
  | lib-decl-content
  | theory-decl-content
  | type-decl-content
  | type-from-decl-content
  | var-decl-content
  | const-decl-content
  | macro-decl-content
  | def-decl-content
  | ind-decl-content
  | corec-decl-content
  | coind-decl-content
  | formula-decl-content
  | axiom-decl-content
  | tcc-decl-content
  | inline-datatype-content

judgement-decl = subtype-judgement-content
               | number-judgement-content
               | name-judgement-content
               | application-judgement-content

subtype-judgement-content =
  element subtype-judgement {commonattrs, id?, type-expr, type-expr}

number-judgement-content =
  element number-judgement {commonattrs, id?, number-expr-content, type-expr}

name-judgement-content =
  element name-judgement {commonattrs, id?, name-expr-content, type-expr}

application-judgement-content =
  element application-judgement {commonattrs, id?, type-expr, name-expr-content, bindings-content}

conversion-content =
  element conversion-decl {declaration, expr}

auto-rewrite-content =
  element auto-rewrite {id, typed-declaration}

lib-decl-content =
  element lib-decl {id, typed-declaration}

theory-decl-content =
  element theory-decl {id, typed-declaration}

type-decl-content =
  element type-decl
    # The type-value is the given type, the type-expr is its canonical form
    #                              type-value  type-expr
    {type-decl-attrs, id, declaration, type-expr?, type-expr?, contains-content?}

type-from-decl-content =
  element type-from-decl
    {type-decl-attrs, id, declaration, type-expr, contains-content?}

var-decl-content =
  element var-decl {id, typed-declaration}

const-decl-content =
  element const-decl {id, decl-formals-content?, typed-declaration, expr?}

decl-formals-content =
   element decl-formals {decl-formals1-content+}

decl-formals1-content =
   element formals {decl-formals2-content+}

decl-formals2-content =
   element formals {binding-content+}

macro-decl-content =
  element macro-decl {id, typed-declaration}

def-decl-content =
   element def-decl
   {id, decl-formals-content?, typed-declaration,
      def-expr, measure-expr, order-expr?}

def-expr = expr

measure-expr = expr

order-expr = expr

ind-decl-content =
  element ind-decl {id, typed-declaration}

corec-decl-content =
  element corec-decl {id, typed-declaration}

coind-decl-content =
  element coind-decl {id, typed-declaration}

formula-decl-content =
  element formula-decl {formula-decl-attr, id, declaration, expr}

axiom-decl-content =
  element axiom-decl {formula-decl-attr, id, declaration, expr}

tcc-decl-content =
  element tcc-decl {formula-decl-attr, id, declaration, expr}

formula-decl-attr =
  attribute kind { "assumption" | "axiom" | "challenge" | "claim" |
                   "conjecture" | "corollary" | "fact" | "formula" | "law" |
                   "lemma" | "obligation" | "postulate" | "proposition" |
                   "sublemma" | "theorem" }

inline-datatype-content =
  element inline-datatype {id, typed-declaration}

declaration =
  commonattrs, chainattr?

type-decl =
  id, declaration

type-def-decl =
  type-decl-attrs, type-decl, type-expr, contains-content?

type-decl-attrs =
  attribute nonempty-type {boolean}?

contains-content =
  element contains
    {expr}
  
typed-declaration =
  declaration, declared-type, type-expr

declared-type = type-expr  

### Type Expressions

type-content =
  element type type-expr

type-expr = type-name-content
          | type-application-content          
          | expr-as-type-content
          | subtype-content
          | function-type-content
          | tuple-type-content
          | cotuple-type-content
          | record-type-content

type-name-content =
  element type-name {commonattrs, name, resolution?}

type-application-content =
  element type-application {commonattrs,
                            type-name-content,
                            (binding-content|expr)+}

type-parameters-content =
  element type-parameters {expr+}

expr-as-type-content =
  element expr-as-type {commonattrs, expr, type-expr?}

subtype-content =
  element subtype {commonattrs, type-expr, expr}

function-type-content =
  element function-type {commonattrs, domain, type-expr}

domain = type-expr | binding-content

binding-content =
  element binding {declaration, binding-attr, id, type-expr}

binding-attr =
  attribute id { xsd:ID }?


tuple-type-content =
  element tuple-type {commonattrs, domain+}

cotuple-type-content =
  element cotuple-type {type-expr+}

record-type-content =
  element record-type {commonattrs, field-decl-content+}

field-decl-content =
  element field-decl {commonattrs, id, type-expr}


# Expressions

expr-content =
  element expr {exprattrs, expr}

exprattrs =
  commonattrs,
  attribute parens {xsd:integer}

expr = name-expr-content
     | number-expr-content
     | string-expr-content
     | list-expr-content
     | record-expr-content
     | tuple-expr-content
     | field-expr-content
     | proj-expr-content
     | field-appl-expr-content
     | proj-appl-expr-content
     | application-expr-content
     | coercion-expr-content
     | if-expr-content
     | lambda-expr-content
     | exists-expr-content
     | forall-expr-content
     | set-expr-content
     | let-expr-content
     | update-expr-content
     | cases-expr-content
     | cond-expr-content
     | table-expr-content

# Keep the type - it may be derived from the resolution, but requires
# substitution
name-expr-content =
  element name-expr {commonattrs, name, type-expr?, resolution?}

number-expr-content =
  element number-expr {commonattrs, xsd:integer}

string-expr-content =
  element string-expr {string}

list-expr-content =
  element list-expr {expr+}

record-expr-content =
  element record-expr {commonattrs, assignment-content+}

assignments-content =
  element assignments {assignment-content+}

assignment-content =
  element assignment {commonattrs, assignment-args-content, expr}

assignment-args-content =
  element assignment-args {assignment-arg+}

assignment-arg =
  expr | field-assign-content | proj-assign-content

field-assign-content =
  element field-assign {commonattrs, id}

proj-assign-content =
  element proj-assign {commonattrs, xsd:integer}

tuple-expr-content =
  element tuple-expr {commonattrs, expr+}

tuple-content =
  element tuple {expr+}

field-expr-content =
  element field-expr {id}

proj-expr-content =
  element proj-expr {xsd:integer}

field-appl-expr-content =
  element field-appl-expr {commonattrs, expr, id}
  
proj-appl-expr-content =
  element proj-appl-expr {commonattrs, expr, index}

index =
  element index {xsd:integer}

application-expr-content =
  element application {commonattrs, applicationattrs, expr, expr}

applicationattrs =
  attribute infix {boolean}?

coercion-expr-content =
  element coercion-expr {expr-content, type-content}

if-expr-content =
  element if-expr {expr-content, expr-content, expr-content}

lambda-expr-content =
  element lambda-expr {commonattrs, bindings-content, expr}

exists-expr-content =
  element exists-expr {commonattrs, bindings-content, expr}

forall-expr-content =
  element forall-expr {commonattrs, bindings-content, expr}

bindings-content =
  element bindings {binding-content+}

set-expr-content =
  element set-expr {bindings-content, expr-content}

let-expr-content =
  element let-expr {let-bindings-content, expr-content}

let-bindings-content =
  element let-bindings {let-binding-content+}

let-binding-content =
  element let-binding {binding-content, expr}

update-expr-content =
  element update-expr {expr-content, assignments-content}

cases-expr-content =
  element cases-expr {commonattrs, expr, selection-content+}

selections-content =
  element selections {selection-content+}

# constructor, args, expression
selection-content =
  element selection {commonattrs, expr, bindings-content?, expr}

cond-expr-content =
  element cond-expr {expr-content, conditions-context}

conditions-context =
  element conditions {cond-content+}

cond-content =
  element cond {expr, expr}

# row-expr, col-expr, row-headings, col-headings, table-entries
# all but the table-entries may be omitted
table-expr-content =
  element table-expr {commonattrs,
                      table-heading-expr-content, table-heading-expr-content,
                      table-headings-content, table-headings-content,
                      table-entries-content}

table-heading-expr-content =
  element table-heading-expr {expr?}

table-headings-content =
  element table-headings {expr*}

table-entries-content =
  element table-entries {row-entries-content+}

row-entries-content =
  element row-entries {expr+}

### Names

names = name+

name = id, theory-id?, library-id?, actuals-content?, mappings-content?, target?

theory-id = element theory-id {identifier-token}

library-id = element library-id {identifier-token}

target = element target {theory-name}

resolution =
  element resolution {theory-name-content, declref}

#declref = element declref {xsd:anyURI}

### Justifications

justification = element justification justification-content

justification-content =
   attribute label {text},
   attribute comment {text},
   element rule {rule-content},
   element xrule {rule-content}?,
   element subgoal {justification-content}*

rule-content =
   element name {string},
   element rule-arg {rule-arg-content}*

rule-arg-content =
   step | element steps {step}* |
   expr | element exprs {expr}* |
   type-expr | element type-exprs {type-expr}* |
   theory-name | element theory-names {theory-name}* |
   text

### Tokens

id = element id {identifier-token}

boolean = "true" | "false"

identifiers-content =
  element identifiers {commonattrs, identifier-content+}

identifier-content =
  element identifier {commonattrs, identifier-token}

# \p{L} = letters, \i = letters and '_', \d = digits, \? = '?'
identifier-token = xsd:token
  {pattern = "(\p{L}[\i\d\?]*)|([$&@^~=/\+\-\*<>][^\p{L}\d\(\)\[\]\{\}%,\.:;#'!\?_\|\s]*)"}

### Common Attributes

commonattrs =
  attribute place {place-string}?

chainattr =
  attribute chain-p {boolean}

place-string = xsd:string {pattern = "\d+ \d+ \d+ \d+"}

## Links

declref = element declref { attlist.declref }

attlist.declref &=
  [ a:defaultValue = "simple" ] attribute xlink:type { "simple" }?,
  attribute xlink:href { text }?,
  attribute xlink:role { text }?,
  attribute xlink:arcrole { text }?,
  attribute xlink:title { text }?,
  attribute xlink:show { "new" | "replace" | "embed" | "other" | "none" }?,
  attribute xlink:actuate { "onLoad" | "onRequest" | "other" | "none" }?

any =
  (element * {
     attribute * { text }*,
     any
   }
   | text)*
